#sidebarContainer {
  width: 20%;
  margin-right: 32px;
  margin-left: 108px;
}

#sidebar {
  padding-top: 24px;

  width: 100%;
  height: 100%;
  background-color:var(--detail-light);
}

#coursesHeader {
  color: var(--font-color);
  font-size: 1.8rem;
  font-family: var(--font-typeface);
  font-weight: bold;

  padding: 8px 24px 8px 24px;
  border-top: solid 1.5px var(--background-light);
  border-bottom: solid 1.5px var(--background-light);
}

.courseLabel {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 24px;
}

.courseLabel[type="button"] {
  font-size: 1.4rem;
  -webkit-appearance: none;
    vertical-align: middle;
    text-align: left;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 18px;
}

li .qButton {
  text-align: left;
}
