html, body {
  --background-light: #e8e8e8;
  --background-medium: #c4c4c4;
  --background-dark: #aeaeae;
  --detail-light: LightSteelBlue;
  --detail-dark: #4c84a3;
  --font-family: "Helvetica";
  --font-color: #e8e8e8;
  --font-border: #a8a8a8;
  --font-size: 1.2rem;

  background-color: var(--background-light);
}

html, body, #root, #appContainer {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

a, a:hover {
  text-decoration: none;
}
